---
# This workflow action builds the flatpak package and runs linter tests.
name: Flatpak Build Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  flatpack-build-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install flatpak
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder meson

      - name: Configure flatpak
        run: |
          flatpak remote-add --user --if-not-exists flathub \
            https://flathub.org/repo/flathub.flatpakrepo

      - name: Install SDK and runtime
        run: |
          flatpak install -y --user flathub org.gnome.Sdk/x86_64/49 org.gnome.Platform/x86_64/49 \
            org.freedesktop.Sdk.Extension.rust-stable/x86_64/25.08

      - uses: actions/checkout@v5

      - name: Build the flatpak package
        run: |
          flatpak-builder --force-clean --user \
            --repo=repo builddir io.github.herve4m.Hexkudo.Devel.yaml

      - name: Install linter dependencies
        run: flatpak install -y --user flathub org.flatpak.Builder

      - name: Linting the Metainfo file
        run: |
          flatpak run --command=flatpak-builder-lint org.flatpak.Builder \
            appstream io.github.herve4m.Hexkudo.Devel.metainfo.xml
        working-directory: builddir/files/share/metainfo

      - name: Linting the manifest file
        run: |
          flatpak run --command=flatpak-builder-lint org.flatpak.Builder \
            manifest io.github.herve4m.Hexkudo.Devel.yaml

      - name: OSTree repository check
        run: |
          flatpak run --command=flatpak-builder-lint org.flatpak.Builder \
            --exceptions --user-exceptions .github/files/exceptions.json \
            repo repo

      - name: Build directory check
        run: |
          flatpak run --command=flatpak-builder-lint org.flatpak.Builder \
            --exceptions --user-exceptions .github/files/exceptions.json \
            builddir builddir
...
